[submodule "rc/.vim/bundle/ctrlp.vim"]
	path = rc/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "rc/.vim/bundle/nerdtree"]
	path = rc/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "rc/.vim/bundle/vim-easymotion"]
	path = rc/.vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "rc/.vim/bundle/vim-jsx"]
	path = rc/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "rc/.vim/bundle/vim-multiple-cursors"]
	path = rc/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "rc/.vim/bundle/delimitMate"]
	path = rc/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "rc/.vim/bundle/vim-glsl"]
	path = rc/.vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "rc/.vim/bundle/vim-easy-align"]
	path = rc/.vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "rc/.vim/bundle/vim-move"]
	path = rc/.vim/bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "rc/.vim/bundle/vim-smooth-scroll"]
	path = rc/.vim/bundle/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "rc/.vim/bundle/ack.vim"]
	path = rc/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "rc/.vim/bundle/vim-javascript"]
	path = rc/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "rc/.vim/bundle/YouCompleteMe"]
	path = rc/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "rc/.vim/bundle/syntastic"]
	path = rc/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "rc/.vim/bundle/typescript-vim"]
	path = rc/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "rc/.vim/bundle/vim-surround"]
	path = rc/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "rc/.vim/bundle/vim-jinja"]
	path = rc/.vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "rc/.vim/bundle/vim-mustache-handlebars"]
	path = rc/.vim/bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "rc/.vim/bundle/vim-go"]
	path = rc/.vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
