
# configure git editor to be
# 1) mvim if exists
# 2) else, vim

command -v mvim >/dev/null 2>&1
if [ $? -eq 0 ]; then
	export EDITOR=mvim
else
	export EDITOR=vim
fi

# Honor specific
git config --global user.name "Abel Allison"
git config --global user.email "abel@joinhonor.com"

git config --global merge.ff "only"
