
# Points to golang install dir
# Installed via homebrew
export GOROOT=/usr/local/opt/go/libexec

# Dir where go src projects are located
export GOPATH=${HOME}/Workspace/go

# Go bin dir to PATH
export PATH=$PATH:${GOROOT}/bin
