# lazy_source () {
#     eval "$1 () { [ -f $2 ] && source $2 && $1 \$@ }"
# }
#
# NVM_SOURCE=$HOME/.nvm/nvm.sh
# lazy_source nvm $NVM_SOURCE

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" # This loads nvm
