export SLACK_APP_ID="2556015088.102802299573"

export SLACK_APP_SECRET="AQECAHh3LDnegOXPy22Z2Q1lU2YEMQVlzV8b5b+RVA+n2hEluQAAAH4wfAYJKoZIhvcNAQcGoG8wbQIBADBoBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDKcC55/YQH2lI70GogIBEIA7WCwCST1GhoMgwE5SQrdNPwCNGbNQ2twOdg+YEnPG49v9ncaD/NRzmo7pIs8P0bEyc8cU/zwRISnS9KM="

export SLACK_APP_VERIFICATION_TOKEN="AQECAHh3LDnegOXPy22Z2Q1lU2YEMQVlzV8b5b+RVA+n2hEluQAAAHYwdAYJKoZIhvcNAQcGoGcwZQIBADBgBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDLlm3DRxNwl/T+yW4gIBEIAzPDMtwgpIcYos5siTXkTKyK/V/fMGHCi5k6MxR+ypKdq+3R5VhdBHOb69+pqz7CWIHH/V"

export WG_WEB_HOST="sidhesh.ahhbla.com"

# used for ssh tunneling
export WG_REMOTE_PORT=8033

export SQS_API_URL='https://sqs.us-west-2.amazonaws.com/246138026485/wegrow-api-joseph'